useDynLib(ProbMetab)
export(RCreateDataFrame)
export(build.database.kegg)
export(combineMolIon)
export(comp.results)
export(create.pathway.node.attributes)
export(create.reaction.edge.attributes)
export(create.reactionM)
export(createJSONToCytoscape)
export(createXGMML)
export(design.connection)
export(export.class.table)
export(export2cytoscape)
export(formula2mass)
export(get.Mzmatch.annot)
export(get.annot)
export(get.compounds.by.pathway.biocyc)
export(get.formula.kegg)
export(get.kegg.pathways)
export(get.kgml.positions.kegg)
export(get.name)
export(get.ncbi.id)
export(get.pathway.by.compound.kegg)
export(get.pathway.by.organism.biocyc)
export(get.pathway.by.organism.kegg)
export(get.reactions.by.compound.biocyc)
export(gibbs.samp)
export(incorporate.isotopes)
export(openGraph)
export(reac2cor)
export(rt.predict)
export(sbml2table)
export(weightM)
export(weightRT)
